.footer-copy {
  display: block;
  clear:both;
  overflow: hidden;
  margin-bottom: 8%;
  .bck-to-top {
    float: right;
    font-family: $text__family--Roboto;
  }
  p {
    float: left;
    color:#95989A;
    // padding-top:2%;
    @include fontSize(13px);
    font-family: $text__family--Roboto;
    @include breakpoint(mobile) {
      text-align: center;
      width: 100%;
      margin-bottom: 0%;
    }
  }

}
.footer-pre {
  margin-bottom: 5%;
  width: 100%;
  overflow: hidden;
  img {
    float: left;
    width: 140px;
    @include breakpoint(mobile) {
      margin: 0 auto;
      float: none;
      display: block;
      margin-bottom: 8%;
      // opacity: 0.5;
    }
  }
}
.footer-social {
  text-align: center;
  margin-bottom: 8%;
}
.footer-social__item {
  display: inline-block;
  text-align: center;
  transition: opacity 390ms;
  &:hover {
    opacity: 0.6;
  }
  a {
    display: block;
  }
  img {
    width: 44px;
    margin:7px;
  }
  &:nth-child(3){
    img {
      width: 44px;
      margin:7px;
    }
  }
}
.bck-to-top {
  cursor:pointer;
  img {
    margin-left:10px;
  }
  @include breakpoint(mobile) {
    width: 100%;
    text-align: center;
    padding-top: 15%;
  }
}
footer {
  padding: 0 4%;
}
